<html>
<head>
    <title>Affiche un potin</title>
  </head>
  <body>
  PAGE POTIN
    Voici le Gossip n° <%= index %>
      <p>
      Son auteur : <%= gossips.author %><br/>
      Le contenu du potin : <%= gossips.content %>
      </p><br/>
      <a href='/gossips/<%= index %>'</a>
  
  </body>
</html>
Réduire




